.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 99;
}

/*** Button Start ***/
.btn {
  font-weight: 600;
  transition: .5s;
}

.btn-square {
  width: 32px;
  height: 32px;
}

.btn-sm-square {
  width: 34px;
  height: 34px;
}

.btn-md-square {
  width: 44px;
  height: 44px;
}

.btn-lg-square {
  width: 56px;
  height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50%;
}

.btn.btn-primary {
  box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-primary:hover {
  box-shadow: inset 300px 0 0 0 var(--bs-light) !important;
  color: var(--bs-primary) !important;
}

.btn.btn-light {
  box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-light:hover {
  box-shadow: inset 300px 0 0 0 var(--bs-primary);
  color: var(--bs-light) !important;
}

.btn-hover {
  transition: 0.5s;
}

.btn-hover:hover {
  color: var(--bs-secondary) !important;
}



/*** Topbar Start ***/
.fixed-top .container {
  transition: 0.5s;
}

.topbar {
  padding: 2% 10% 2% 20%;
  background: var(--bs-primary) !important;
}

.topbar a,
.topbar a i {
  transition: 0.5s;
}

.topbar a:hover,
.topbar a i:hover {
  color: var(--bs-secondary) !important;
}


@media (max-width: 768px) {
  .topbar {
      display: none;    
  }
}
/*** Topbar End ***/


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
  font-family: 'Roboto', sans-serif;
  position: relative;
  padding: 35px 15px;
  color: var(--bs-white) !important;
  font-size: 100%;
  font-weight: 400;
  outline: none;
  transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 15px;
  color: var(--bs-dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--bs-white) !important;
  
}

.navbar-light .navbar-brand h1 {
  color: var(--bs-white);
  font-family: "Homer Simpson UI"; 
}

.sticky-top.navbar-light .navbar-brand h1 {
  color: var(--bs-primary);
  font-family: "Homer Simpson UI";
}

.navbar-light .navbar-brand img {
  max-height: 78px;
  transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
  max-height: 45px;
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

@media (min-width: 1200px) {
  .navbar .nav-item .dropdown-menu {
      display: block;
      visibility: hidden;
      top: 100%;
      transform: rotateX(-75deg);
      transform-origin: 0% 0%;
      border: 0;
      border-radius: 10px;
      transition: .5s;
      opacity: 0;
  }
}

.dropdown .dropdown-menu a:hover {
  background: var(--bs-primary);
  color: var(--bs-white);
}

.navbar .nav-item:hover .dropdown-menu {
  transform: rotateX(0deg);
  visibility: visible;
  background: var(--bs-light);
  transition: .5s;
  opacity: 1;
  
}

@media (max-width: 991.98%) {
  .sticky-top.navbar-light {
      position: relative;
      background: var(--bs-white);
  }

  .navbar-light .navbar-brand h1 {
      color: var(--bs-primary);
  }

  .navbar.navbar-expand-lg .navbar-toggler {
      padding: 10% 20%;
      border: 1% solid var(--bs-primary);
      color: var(--bs-primary);
  }

  .navbar-light .navbar-collapse {
      margin-top: 15%;
      border-top: 1% solid #DDDDDD;
  }

  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
      padding: 10% 0;
      color: var(--bs-dark) !important;
  }

  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link.active  {
      color: var(--bs-primary) !important;
  }

  .navbar-light .navbar-brand img {
      max-height: 45%;
  }
}

@media (min-width: 992px) {
  .navbar-light {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      border-bottom: 1px solid rgba(255, 255, 255, .1);
      z-index: 999;
  }
  .col-lg-8.text-center.text-lg-start.mb-2.mb-lg-0 {
    margin-block-start: 1%;
  }
  .sticky-top.navbar-light {
      position: fixed;
      background: rgb(4, 4, 94);
  }

  .navbar-light .navbar-nav .nav-link::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      bottom: -1%;
      left: 0;
      background: rgb(4, 4, 94);
      transition: .5s;
      z-index: -1;
  }

  .navbar-light .navbar-nav .nav-link:hover::before,
  .navbar-light .navbar-nav .nav-link.active::before {
      height: calc(100% + 1%);
      left: 1%;
  }

  .navbar-light .navbar-nav .nav-link.nav-contact::before {
      display: none;
  }
}
/*** Carousel Hero Header Start ***/
.carousel-header .carousel-control-prev,
.carousel-header .carousel-control-next {
    background: transparent;
}

.carousel-header .carousel-control-prev .carousel-control-prev-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 25px 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50%;
    background-size: 60% 60%;
}

.carousel-header .carousel-control-next .carousel-control-next-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 25px 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 0;
    background-size: 60% 60%;

}

.carousel-header .carousel .carousel-indicators li,
.carousel-header .carousel .carousel-indicators li,
.carousel-header .carousel .carousel-indicators li {
    opacity: 0;
}

.carousel-header .carousel-inner .carousel-item {
    position: relative;
    min-height: 100vh 
}

.carousel-header .carousel-inner .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-header .carousel-inner .carousel-item .carousel-caption  {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5));
    background-size: cover;
}
/* texto del carrusel  */
.text-white {
  font-family: serif; 
}
@media (max-width: 768%) {
    .carousel-header .carousel-inner .carousel-item img,
    .carousel-header .carousel-inner .carousel-item .carousel-caption {
        height: 700px;
        margin-top: -100%;
    }

    .carousel-header {
        height: 700% !important;
    }

    .carousel-header .carousel-control-prev .carousel-control-prev-icon,
    .carousel-header .carousel-control-next .carousel-control-next-icon {
        opacity: 0;
    }
    
    .search-bar {
        margin-top: -100%;
        transition: 0.5s;
    }
}
/*** Carousel Hero Header End ***/


/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    background: linear-gradient(rgb(4, 4, 94), rgb(4, 4, 94));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 150% 0 50% 0;
}

.bg-breadcrumb .breadcrumb-item a {
    color: rgb(4, 4, 94);
}
/*** Single Page Hero Header End ***/


/*** About Start ***/

.about .container .section-about-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.about .container .section-about-title::before {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: -50px;
    border: 1px solid var(--bs-primary) !important;
}
/*** About End ***/

/*** Destination Start ***/

.destination{
background-color: #f2f2f2ea ;
}
 
.destination .tab-class .tab-content .tab-pane .destination-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
}

.destination .tab-class .tab-content .tab-pane .destination-img .destination-overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  z-index: 3;
  transition: 0.5s;
}

.destination .tab-class .tab-content .tab-pane .destination-img .search-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: end;
  padding: 20px 20px 0 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: 0.5s;

}

.destination .tab-class .tab-content .tab-pane .destination-img .search-icon a i {
  opacity: 0;
  transition: 0.5s;
}

.destination .tab-class .nav-item {
  padding: 0 0 20px 0;
}
.destination .tab-class .nav-item a.active {
  background: var(--bs-primary) !important;
}

.destination .tab-class .nav-item a.active span {
  color: var(--bs-white) !important;
}

.destination .tab-class .tab-content .destination-img:hover .search-icon {
  background: rgba(19, 53, 123, 0.4);
}

.destination .tab-class .tab-content .destination-img:hover .destination-overlay {
  bottom: 0;
}

.destination .tab-class .tab-content .destination-img:hover .search-icon a i {
  opacity: 1;
}

.destination .tab-class .tab-content .destination-img img {
  transition: 0.5s;
}

.destination .tab-class .tab-content .destination-img:hover img {
  transform: scale(1.2);
}
/*** Destination End ***/

